<!DOCTYPE html>
@{
    ViewBag.Title = "Create Movie";
    Layout = "_Layout";
}
<br>
<h1>Create new student</h1>
<br>

<form method="post" asp-action="Create">
    <br>
    Movie name:<br>
    <input type="text" name="MovieName">
    <br><br>
    <input type="submit" value="Submit">
</form>
