
@{
    ViewBag.Title = "Create Movie";
    Layout = "_Layout";
}

<br>
<h1>Create new movie</h1>
<br>

<form method="post" asp-action="Create">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Movie Name" aria-label="Movie Name" name="MovieName" aria-describedby="sizing-addon1">
        <br><br><br>
        <input type="button" class="btn btn-success btn-block" value="Create Movie" />
        </div>

</form>
