@using System.Collections.Generic
@using mvcProject.Models.Entities
@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<Movie>

@{
    ViewBag.Title = "MovieList";
    Layout = "_Layout";
}


<br>
<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Movies</h1>
        </div>
    </div>

    <form method="post" asp-action="Index">

        <div class="col-lg-5">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" name="MovieName" placeholder="Search for Movies Name..." aria-label="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
            </div>
            <br><br>
            @Html.ActionLink("Create Movie", "Create", "Movies", null, new {@class = "btn btn-success"})
            <br><br>
            

        </div>
    </form>


    <table class="table table-striped">
        <tr>
            <th>Movie Name</th>
            <th>Enrollments</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.MovieName, "Details", "Movies", new {id = movie.Id}, null)</td>
                <td>
                    <div class="btn-group" style="display: flex">
                        <form method="post" asp-action="Edit">
                            <button type="submit" class="btn btn-info" name="movieId" value="@movie.Id">Edit</button>
                        </form>

                        <form method="post" asp-action="Delete">
                            <button type="submit" class="btn btn-danger" name="id" value="@movie.Id">Delete</button>
                        </form>
                    </div>

                </td>
            </tr>
        }
    </table>
</div>