@using System.Collections.Generic
@using mvcProject.Models.Entities
@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<Movie>

@{
    ViewBag.Title = "MovieList";
    Layout = "_Layout";
}
<style type="text/css">.jumbotron-fluid { }
 .display-3 { }
</style>

<br>
<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Movies</h1>
        </div>
    </div>

    <form method="post" asp-action="Index">
     
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Movie name" aria-describedby="basic-addon2">
        </div>
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
    <br>
    <a href="/Movies/Create">
        <input type="button" class="btn btn-success" value="New Movie" />
    </a>

    <br><br>


    <table class="table table-striped">
        <tr>
            <th>Movie Name</th>
            <th>Enrollments</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.MovieName, "Details", "Movies", new {id = movie.Id}, null)</td>
                <td><input type="button" class="btn btn-danger" value="Delete"/></td>
            </tr>
        }
    </table>
</div>