@using System.Collections.Generic
@using mvcProject.Models.Entities
@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<Movie>

@{
    ViewBag.Title = "MovieList";
    Layout = "_Layout";
}

<br>
<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Movies</h1>
        </div>
    </div>

    <form method="post" asp-action="Index">

        <div class="input-group">
            <input type="text" class="form-control" name="MovieName" placeholder="Movie name" aria-describedby="basic-addon2">
            <br><br>

            <input type="submit" class="btn btn-primary btn-block" value="Search">
            
            <a asp-action="Create">
                <input type="button" class="btn btn-success btn-block" value="New Movie"/>
            </a>
        </div>
    </form>
    <br>

    <br><br>


    <table class="table table-striped">
        <tr>
            <th>Movie Name</th>
            <th>Enrollments</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.MovieName, "Details", "Movies", new {id = movie.Id}, null)</td>
                <td>
                    <form method="post" asp-action="Delete">
                        <button type="submit" class="btn btn-info" name="id" value="@movie.Id">Edit</button>
                        <button type="submit" class="btn btn-danger" name="id" value="@movie.Id">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </table>
</div>