@using System.Collections.Generic
@using mvcProject.Models.Entities
@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<Movie>

@{
    ViewBag.Title = "MovieList";
    Layout = "_Layout";
}
<br>

<form method="post" asp-action="GetMovie">
    <br>
    Movie name:<br>
    <input type="text" name="movieName">
    <br><br>
    <input type="submit" value="Submit">
</form>
<br><br>

<table class="table table-striped">
    @foreach (var movie in Model)    
    {
        <tr>
            <td>@Html.ActionLink(movie.MovieName, "Details", "Movies", new {id = movie.Id}, null)</td>
        </tr>
    }
</table>